{% extends 'Main/base.html'%}
{% block title%}
About me
{%endblock%}
{% block content%}
<h3>Яхновец Глеб Константинович</h3>
    <h4>Дата рождения: 12.04.2010</h4>

    <p>Профессионально занимаюсь детским моделингом более 7 лет. Большой опыт участия 
в фотосессиях, показах одежды и в съемках для рекламы.
    </p>
    <pre>Увлечения: 
        Играю на гитаре, сочиняю музыку, рисую.</pre>
    <pre>Сильные стороны:
        Работа в команде, креативность, харизма, дисциплинированность.</pre>
    <pre>Проекты:
        Mark Formalle, 5 Элемент, Евроопт, Shagovita,
        Kids Fashion Show.</pre>
{%endblock%}
