{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
  
  <meta name="p:domain_verify" content="bfb2f70c11952fcc778338454546a125">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="csrf-token" content="TKf7S3c0ntK9fTGQfZYNpgaFHCZZioFNHdpaTtAW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no">
    <link rel="stylesheet" href="https://fast.fonts.net/cssapi/8eee4eba-f23a-4d05-810d-9b4e673ebe86.css">
	<link rel="stylesheet" type="text/css" href="https://www.jimmynelson.com/css/builds/app.css?1637682605">
    <title>{% block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{%static 'Main/images/IMG6029' %}">
 
<script type="text/javascript" async="" src="https://snap.licdn.com/li.lms-analytics/insight.min.js"></script><script src="https://connect.facebook.net/signals/config/925404214258496?v=2.9.48&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://static.hotjar.com/c/hotjar-1189565.js?sv=6"></script><script async="" src="https://script.hotjar.com/modules.cbd9b920d05cd9e47f57.js" charset="utf-8"></script><style type="text/css">iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}</style><link rel="stylesheet" type="text/css" href="//downloads.mailchimp.com/css/signup-forms/popup/56e7ecd72519300e38d4c8e42744c00035f2bf09/modal.css" media="all"><style type="text/css" id=""></style></head> 

<body class="" style="overflow: visible;">
	<input type="checkbox" id="menuicon" value="1">
    <header class="home noselect">
        <label class="menuicon" for="menuicon"><span></span><span></span><span></span></label>
        
    	<nav class="smoothfont">
    		<ul class="nav0">
          <li class=""><a class="" href="/galery">Galery</a>
          <li class=""><a class="" href="/contacts">Contacts</a></li> 
          <li class=""><a class="" href="/about">About <em> me</em></a></li>
          <li class=""><a class="" href="/login">LOG IN</a></li>
          <li class=""><a class="" href="/singup">SING UP</a></li>
        </ul></li>
    	</nav>
    	
    	<div class="social">
    	    <a href="https://www.instagram.com/glebas_ss/" target="_blank"><i class="fa fa-instagram"></i></a>
    	</div>
    </header>

    <ul>
        <li><img src="Main/IMG_6261.jpeg" alt=""></li>
    </ul>

    </h1>
</body>
</html>